*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    color: rgb(24, 192, 221);
    margin-top: 20px;

}

p{
    color: gray;
   margin-left: 20px;
}
.box1{
    background-color:rgb(17, 160, 153);
    color: white;
    width: 450px;
    height: 350px;
    margin-top: 30px;
    padding: 30px;
   
}
 #signup{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(143, 143, 18);
    color: white;
    }
.box2{
    background-color: lightseagreen;
    color:white;
    width: 450px;
    height: 350px;
    padding: 30px;
   
}
@media(min-width:1024px) { .box2{
   margin-left: 450px;
    margin-top: 30px;
   }
.box1{
    float: left;
   }

}

