*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    color: rgb(24, 192, 221);
    margin-top: 40px;

}

p{
    color: gray;
   margin-left: 20px;
}
.box1{
    background-color:rgb(17, 160, 153);
    color: white;
    width: 375px;
    height: 300px;
    margin-top: 30px;
    padding: 40px;
   
}
 #signup{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(143, 143, 18);
    color: white;
    }
.box2{
    background-color: rgb(52, 191, 226);
    color:white;
    width: 375px;
    height: 300px;
    padding: 40px;
   
}
@media(min-width:1024px) { .box2{
    width: 50vw;
    height: 60vh;
   margin-left: 50vw;
    margin-top: 50px;
    line-height: 20px;
   }
.box1{
    margin-top: 50px;
    width: 50vw;
    height: 60vh;
    float: left;
   }
   p{
       line-height: 22px;
   }

}

